{% extends 'shared/layout_core.html' %} {% load static %} {% block breadcrumb %}
<a class="breadcrumb-item" href="/departments/">Department</a>
<a class="breadcrumb-item" href="">Add</a>
{% endblock %} {% block main %}
<div class="row">
  <div class="col-md-9">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card">
        <div class="card-body">
          <div class="mb-4 row">
            <label class="col-md-4"
              >Department name <span class="text-danger">*</span></label
            >
            <div class="col-md-8">{{ form.name }}</div>
          </div>
          <div class="mb-4 row">
            <label class="col-md-4"
              >Department Code <span class="text-danger">*</span></label
            >
            <div class="col-md-6">{{ form.code }}</div>
          </div>
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Please correct the errors below:
            <ul>
              {% for field, errors in form.errors.items %} {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %} {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}