{% extends 'shared/layout_core.html' %}

{% block breadcrumb %} 
    <a class="breadcrumb-item" href="{% url 'departments:index' %}">Students Departments</a>
    <span class="breadcrumb-item active">Add New</span>
{% endblock %}

{% block actionbar %} 
    <a class="btn btn-outline-secondary" href="{% url 'departments:index' %}"><i class="fa fa-arrow-left"></i> Back</a>
{% endblock %}

{% block main %} 
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Add New Department</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Department Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="id_code">Department Code</label>
                    {{ form.code }}
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </form>
        </div>
    </div>
{% endblock %}
