{% extends 'shared/layout_core.html' %}

{% block breadcrumb %} 
    <a class="breadcrumb-item" href="{% url 'departments:index' %}">Students Departments</a>
    <span class="breadcrumb-item active">{{ department.name }}</span>
{% endblock %}

{% block actionbar %} 
    <a class="btn btn-outline-secondary" href="{% url 'departments:edit' department.id %}"><i class="fa fa-edit"></i> Edit</a>
{% endblock %}

{% block main %} 
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">{{ department.name }}</h5>
        </div>
        <div class="card-body">
            <p><strong>Code:</strong> {{ department.code }}</p>
            <p><strong>Created At:</strong> {{ department.created_at }}</p>
        </div>
    </div>
{% endblock %}
