{% extends 'shared/layout_core.html' %}

{% block breadcrumb %} 
    <a class="breadcrumb-item" asp-page="Index">Government ministries</a>
{% endblock %}

{% block actionbar %} 
    <a class="btn btn-outline-primary" href="/departments/add"><i class="fa fa-plus"></i> Add new</a>
{% endblock %}

{% block main %} 

    <div class="row">
        <div class="col-md-8"></div>
            <div class="col-md-4 text-right">
                <form method="GET" action="">           
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="query_string" placeholder="Search for ministry...">
                        <div class="input-group-append">                          
                            <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
        
    {% if query_string %}
    <div class="row">
        <p><i class="fa fa-search"></i> You searched for "<b>{{ query_string }}</b>" <a asp-page="index" class="btn btn-outline-secondary btn-sm">Clear search</a></p>
    </div>
    {% endif %}

    <h5 class="font-weight-light"><strong>{{my_list.count}}</strong> Ministry{% if my_list.count != 1 %}s{% endif %}</h4>
    <table class="table table-striped table-hover table-sm border-bottom border-top">
        
        <tbody>
            <tr>
                <th>Name</th>
                <th>Dept Code</th>
                <th>Creation date</th>
            </tr>
            {% for item in my_list %}
                <tr>
                    <td><a href="details/{{item.id}}">{{item.name}}</a></td>
                    <td>{{ item.code }}</td>
                    <td>{{item.created_at}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}