{% extends 'shared/layout_core.html' %}

{% block breadcrumb %}
<a class="breadcrumb-item" href="/students/">Students</a>
<a class="breadcrumb-item" href="#">{{ student.user.first_name }} {{ student.user.last_name }}</a>
{% endblock %}

{% block main_s %}
<div class="card">
  <div class="card-body">
    <h5>Student Details</h5>
    <hr />
    <div class="mb-4 row">
      <label class="col-md-4">Full Name</label>
      <div class="col-md-8">{{ student.user.first_name }} {{ student.user.last_name }}</div>
    </div>
    <div class="mb-4 row">
      <label class="col-md-4">Registration Number</label>
      <div class="col-md-8">{{ student.reg_number }}</div>
    </div>
    <div class="mb-4 row">
      <label class="col-md-4">Department</label>
      <div class="col-md-8">{{ student.department.name }}</div>
    </div>
    <div class="mb-4 row">
      <label class="col-md-4">Created At</label>
      <div class="col-md-8">{{ student.created_at }}</div>
    </div>
  </div>
</div>
{% endblock %}
