{% extends 'shared/layout_core.html' %}
{% load static %}

{% block breadcrumb %}
<a class="breadcrumb-item" href="/staff/">Staff</a>
<a class="breadcrumb-item" href="">Add</a>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-9">
    <form method="post">
      {% csrf_token %}
      <div class="card">
        <div class="card-body">
          <h5>Add New Staff Member</h5>
          <hr />
          <div class="mb-3">{{ form.username.label_tag }} {{ form.username }}</div>
          <div class="mb-3">{{ form.email.label_tag }} {{ form.email }}</div>
          <div class="mb-3">{{ form.password.label_tag }} {{ form.password }}</div>
          <div class="mb-3">{{ form.first_name.label_tag }} {{ form.first_name }}</div>
          <div class="mb-3">{{ form.last_name.label_tag }} {{ form.last_name }}</div>
          <div class="mb-3">{{ form.staff_id.label_tag }} {{ form.staff_id }}</div>
          <div class="mb-3">{{ form.department.label_tag }} {{ form.department }}</div>
          <div class="mb-3">{{ form.role.label_tag }} {{ form.role }}</div>
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
