.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background: none !important;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

.side-navbar.nav-link:active,
.side-navbar.nav-link:focus,
.side-navbar.nav-link:hover {
  background-color: #ffffff26;
}

.sidebar-menu {
}

.sidebar-menu a {
  justify-content: space-between !important;
  position: relative;
  display: block;
  display: flex !important;
  align-items: center !important;
  border-bottom: 1px solid #eee;
  padding: 0.2em 0.5em;
  color: #000;
}

.sidebar-menu a:hover {
  color: black;
  background: #eee;
  text-decoration: none;
}

.sidebar-menu a i {
  color: #0d6efd;
}

.sidebar-container {
  background-color: blue;
  color: white;
}

.sidebar-item {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar-item:hover {
  background-color: #2c3d90;
}

.sidebar-item.active {
  background-color: #2c3d90;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;

  color: #fff;
  transform-origin: bottom left;
  margin-left: -250px;
  transform: rotateY(100deg);
  margin-top: 68px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: 0;
  transform: rotateY(0deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #f5f5f5;
}

#sidebar ul.components {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #112647;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  margin-bottom: 0px;
}
#sidebar ul li a:hover {
  color: #fff;
}
#sidebar ul li a.active {
  color: #ccc;
  background: #222;
}
#sidebar ul li a.active:hover {
  color: white;
  background: black;
}
#sidebar ul li a:hover i,
#sidebar ul li a.active i {
  color: #789dda;
}

#sidebar ul li a i {
  color: #fff;
  width: 28px;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  /*color: #fff;
        background: #181A1E;*/
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul li a {
  font-size: 1em !important;
  padding-left: 30px !important;
}
#sidebar ul ul a.active {
  font-size: 1em !important;
  padding-left: 30px !important;
  background: #000;
  color: #fff;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 0px;
  transition: all 0s;
  margin-top: 68px;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #808080;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #333;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
