body {
    background: #dbdcdf;
}
.navbar-dark{
    background-color: #2C3D90;
}
a{
    text-decoration: none;
}
main{
    min-height: 90vh !important;
}
#content{
    background-color: #f3f3f3;
}
footer.footer{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.img-container{
    height: 80vh;
    width: 100%;
}
.img-container img{
    height: 50vh;
    width: 50%;
    margin-top: 8rem;
    border-radius: 10px;
}
#welcome-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#identity{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-card{
    background-color: #051329;
    height: 400px;
    width: 350px;
}
.actions{
    height: 400px;
    width: 350px;
    background-color: #fff;
}

.table a, .breadcrumb a{
    color: rgb(61, 147, 212);
}