{% extends 'shared/layout_core.html' %}
{% block main %}
<h3>Today's Attendance</h3>
<table class="table table-striped">
  <thead><tr><th>Date</th><th>Status</th><th>Time In</th><th>Time Out</th></tr></thead>
  <tbody>
    {% for item in attendance_list %}
    <tr>
      <td>{{ item.date }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.time_in }}</td>
      <td>{{ item.time_out|default:"--" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No attendance for today.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
