{% extends 'shared/base.html' %}
 {% load static %}
 {% block content %}
 <header class="masthead" style="background-image: url('{% static 'img/tollgate-bg-1.png' %}' );">
   <div class="intro-body">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 mx-auto">
                   <h3 class="brand-heading">e-Tolling Software</h3>
                   <p class="intro-text">Efficient Journeys, Seamless Payments: Your Gateway to With Smooth Travel.</p>
                   <a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
               </div>
           </div>
       </div>
     </div>
 </header><!-- Start: Map Clean -->
 {% endblock %}